.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: url(../src/images/christopher-burns-dzejyfCAzIA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.buttonContainer li {
  list-style: none;
  display: inline;
  text-align: center;
  margin: 0px 5px 0px 5px;
}

.boardContainer {
  border: 1px solid black;
  width: 600px;
  height: 600px;
  align-self: center;
  background: gray;
  margin: 0px 0px 20px 0px;
}
.countConponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countContainer {
  width: 150px;
  height: 100px;
  border: 1px solid black;
  background: white;
  border-radius: 15px;
}
.countContainer h2 {
  margin-top: 5px;
}

@media only screen and (max-width: 500px) {
  .App {
    background: url("./images/sina-bahar-7lBFJrqHcBY-unsplash.jpg");
    background-size: cover;
  }
  .boardContainer {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    align-self: center;
    background: gray;
    margin: 100px 0px 75px 0px;
  }
  .buttonContainer {
    margin: 125px 0px 20px 0px;
  }
  .buttonContainer ul {
    margin: 0;
    padding: 0;
  }
}
